body {
	margin:0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	*/*background-image: url(../img/background4.png);*/
	max-width;
	overflow-x: hidden; 
	overflow-y: scroll;
}
 .footerc {

 	right: 0;
  	bottom: 0;
  	left: 0;
 }

 .footerp {
 	position:fixed;
 	right: 0;
  	bottom: 0;
  	left: 0;
 }
 .footerr {
 	position:relative;
 	right: 0;
  	bottom: 0;
  	left: 0;

 }
 .footerf {
 	position:fixed;
 	right: 0;
  	bottom: 0;
  	left: 0;
  	 }
.footerh{
  position: relative;
  left: 0;
  right:0;
  bottom: 0;
}

 @media screen and (max-width:1000px){
}
.footerp{
  position:relative;
}
.footerc{

  margin-top: 0vh;
}
}
 @media screen and (max-width:780px){
}
.footerc{
 
  margin-top: vh;
}

}
 @media screen and (max-width:680px){
}
.footerc{

  margin-top: 55vh;
}
.footerf{
  padding-top: 100vh;
}
}
 @media screen and (max-width:430px){
}
.footerc{

  margin-top: 85vh;
}

}
 @media screen and (max-width:360px){
}
.footerc{

  margin-top: 95vh;
}

}