body {
	margin:0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	*/*background-image: url(../img/background4.png);*/
	max-width;
	overflow-x: hidden; 
	overflow-y: scroll;
}
 .footerc {
	margin-top: 32vh;
 	right: 0;
  	bottom: 0;
  	left: 0;
 }

 .footerp {
 	position:relative;
 	right: 0;
  	bottom: 0;
  	left: 0;

 }
 .footerr {
 	position:relative;
 	right: 0;
  	bottom: 0;
  	left: 0;

 }
 .footerf {
 	position:relative;
 	right: 0;
  	bottom: 0;
  	left: 0;
    margin-top: 5.5vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
  	 }
.footerh{
  position: relative;
  left: 0;
  right:0;
  bottom: 0;
}
 @media screen and (max-width:1024px){

.footerc{

  margin-top: 30vh;
}
}
 @media screen and (max-width:1000px){

.footerp{
  position:relative;
}
.footerc{

  margin-top: 0vh;
}
.footerf{
  position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}
}
 @media screen and (max-width:800px){
.footerf{
 margin-top: 26.7vh;
}
	 .footerc{
		 margin-top: 93vh;
	 }
	 .footerr{
		 margin-top: 0vh;
	 }
}
 @media screen and (max-width:768px){
.footerc{
 margin-top: 75vh;
}
}
 @media screen and (max-width:680px){

.footerc{

  margin-top: 55vh;
}
}
 @media screen and (max-width:430px){

.footerc{

  margin-top: 85vh;
}
}
 @media screen and (max-width:375px){

.footerf{

  margin-top: 8.8vh;
}
}
 @media screen and (max-width:360px){

.footerc{

  margin-top: 90vh;
}
}
 @media screen and (max-width:340px){

.footerc{

  margin-top: 115vh;
}
}
 @media screen and (max-width:320px){

.footerc{

  margin-top: 147vh;
}
}
@media screen and (max-height: 667px){
	.footerc{
		margin-top: 100vh;
	}
}
@media screen and (max-height:580px){
	.footerc{
		margin-top: 147vh;
	}
}